  @import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


  @tailwind base;
  @tailwind components;
  @tailwind utilities;


  :root {

    --font-base: 'Varela Round', sans-serif; 
      color: rgba(255, 255, 255, 0.87);
      font-family: var(--font-base);

  }



  .dark-mode {
  
    background-color: #272829;
    color: #fff;

  }
  
  .light-mode {
    background-color: #F6F1F1;
    color: #000;
    
  }