  @import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


  @tailwind base;
  @tailwind components;
  @tailwind utilities;


  :root {

    --font-base: 'Varela Round', sans-serif; 
      color-scheme:  dark;
      color: rgba(255, 255, 255, 0.87);
      background-color: #0A0A0A;
      font-family: var(--font-base);

  }



  